<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8>">
        <title>Request Counter</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Reuquest Count - Main Page</h1>
        <p>Main Page</p>
        <h2><a href="/request_counter">Request Counter</a></h2>
        <br>
        <br>
        <h2><a href="/statistics">Statistics</a></h2>
        <form action="/request_counter" method="POST">
        <input type="submit" value="Post!"></input>
            </form>

    </body>


</html>

